{% extends 'layout/base.html' %}

{% block content %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static '../static/css/proveedor/sin_archivo.css' %}">

<link rel="stylesheet" type="text/css" href="{% static '../static/css/proveedor/dahsboar_css/sub_dahsboard/cotizacion_list.css' %}">

<section class="content_head_pedidos">
    <div class="cj_btn_regresar">
        <a href="{% url 'dashboard_prov' %}" class="btn_regres"><i class="fa-solid fa-arrow-left-long"></i></a>
    </div>

    <div class="contain_title_head_pedidos">
        <h2>Cotizaciones pendiente</h2>
    </div>

</section>

{% if proyecto_cotizacion %}
<div class="content_dashboar_pedidos">
    <div class="sub_dashboar_pedidos">
        <div class="dashboar_pedidos">
            <table>
                <tr>
                  <th>Nombre del proyecto</th>
                  <th>Codigo proyecto</th>
                  <th>Provincia</th>
                  <th>Nombre afiliado</th>
                  <th>Codigo afiliado</th>
                  <th>Whatssap afiliado</th>
                  <th>Fecha de cotizacion</th>
                  <th>Confirmar proyecto</th>
                  <th>Cancelar</th>
                </tr>
                {% for proyect in proyecto_cotizacion %}
                    <tr>
                    {% if proyect.nombre_proyecto != Null %}
                        <td>{{proyect.nombre_proyecto}}</td>
                        <td>{{proyect.codigo_unico_proyect}}</td>
                        <td>{{proyect.provincia_proyec}}</td>
                        <td>{{proyect.vendedor.user.username}}</td>
                        <td>{{proyect.vendedor.codigo_unico_vendedor}}</td>
                        <td>
                            <a href="https://wa.me/{{proyect.contact_vendedor.numeroWhatsapp_afiliado}}" target="_blank">
                                {{proyect.contact_vendedor.numeroWhatsapp_afiliado}}
                            </a>
                        </td>
                        <td>{{proyect.fecha_disponible_cotizacion}}</td>
                        <td>
                            <a href="{% url 'aprovar_acotizacion' codigo_unico=proyect.codigo_unico_proyect %}" class="btn_cotizar">
                                <p>Cotizar</p>
                            </a>
                        </td>

                        <td>
                            <a href="" class="btn_delete">
                                <p class="cancelar">Cancelar</p>
                            </a>
                        </td>
                    {% else %}
                        <td>NULL</td>
                        <td>NULL</td>
                        <td>NULL</td>
                        <td>NULL</td>
                        <td>NULL</td>
                        <td>NULL</td>
                        <td>NULL</td>
                        <td>NULL</td>
                    {% endif %}
                        
                         
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% else %}
<section class="content_sin-archivo">
    <div class="sub_content_sin-archivo">
        <div class="cj_image_sin-archivo">
            <i class="fa-regular fa-rectangle-list"></i>
        </div>
        <p class="mesage_sin-archivo">Actualmente no tienes solicitud de proyectos</p>
    </div>
</section>
{% endif %}



{% endblock %}