/* Estilos generales */
* {
    box-sizing: border-box;
  }
  
  .body_rec_prov {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  .container_rec_prov {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para el título */
  .h1_rec_prov {
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
  }
  
  /* Estilos para el mensaje */
  .div_rec_prov {
    margin: 30px 0;
  }
  
  .h2_rec_prov {
    font-size: 1rem;
    text-align: center;
  }
  
  /* Estilos para el formulario */
  .form_rec_prov {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .label_rec_prov {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .input_rec_prov[type="email"] {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
  }
  
  .button_rec_prov[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .button_rec_prov[type="submit"]:hover {
    background-color: #3e8e41;
  }
  