/* Estilos generales */
* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

  
  /* Encabezado */
.Conten_title_envi_cotiz {
    background-color: #1cbe00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}
  
.cj_btn_regres_envi_cotiz {
    background-color: #fff;
    font-size: 1.5rem;
    padding: 0.2rem 0.3rem;
    border-radius: 5px;

}

  
.title_data_envi_cotiz {
    color: #fff;
    margin: auto;
    font-size: 1.5rem;
}
  
  /* Contenedor principal */
.container_envi_cotiz {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
  
  /* Tarjeta de proyecto */
.card_envi_cotiz {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
  
.card-body_envi_cotiz {
    padding: 20px;
}
  
.card-title_envi_cotiz {
    font-size: 1.2rem;
    font-weight: bold;
}
  
.card-text_envi_cotiz {
    font-size: 1rem;
    margin-bottom: 10px;
}
  
.row_envi_cotiz {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.col-md-6_envi_cotiz {
    flex-basis: calc(50% - 10px);
}
  
  /* Lista sin viñetas */
.list-unstyled_envi_cotiz {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.list-unstyled_envi_cotiz li {
    margin-bottom: 5px;
}
  
  /* Formulario */
.form_envi_cotiz {
    margin-top: 20px;
}
  
.content_btn-form_envi_cotiz {
    display: flex;
    width: 100%;
}
  
.btn_envi_cotiz {
    background-color: #0080ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    margin: auto;
}
  
.btn_envi_cotiz:hover {
    background-color: #00b215;
}
  
  /* Media queries */
@media screen and (max-width: 768px) {
    
    .row_envi_cotiz {
      flex-wrap: wrap;
    }
  
    .col-md-6_envi_cotiz {
      flex-basis: 100%;
    }
}