body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}


/* Estilos para el título */
.Conten_title_data_actual_edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #07452c;
    color: #fff;
  }
  
  .Conten_title_data_actual_edit a {
    font-size: 1.2rem;
    color: #fff;
  }
  
  .Conten_title_data_actual_edit a:hover {
    color: #ccc;
  }

  .title_subtitle_list_proveedore{
    margin: auto;
  }
  
  .title_data_actual_edit {
    font-size: 1.2rem;
    margin: 0;
  }
  



  .content_body{
    min-height: 70vh;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  
  .title_form_mesage {
    text-align: center;
    color: #333;
    font-size: 1.2rem;
  }
  
  form {
    margin-top: 20px;
  }
  
  .label_asunto {
    font-weight: bold;
  }
  
  .asunto_mesage,
  .mensage_textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .content_btn_message {
    text-align: center;
  }
  
  .btn_envi_message {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn_envi_message:hover {
    background-color: #45a049;
  }
  
  @media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
  }