<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/9722caf0d0.js" crossorigin="anonymous"></script>
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static '../static/css/proveedor/configuracio_nic_prov/geo_servicio_conf_inic.css' %}">

    <title>Bluubum</title>
</head>
<body>
    <div class="contenedor_form_geo_pg-inicial">
        <div class="contenedor_titulo_form_geo_pg-inicial">
            <h2 class="titulo_form_geo_pg-inicial">Geo-servicios</h2>
        </div>
        <div class="formulario_form_geo_pg-inicial">
            <form action="{% url 'geo_servicios_prov' %}" method="post" enctype="multipart/form-data" class="form_geo_servicio">
            {% csrf_token %}               
                <label for="provincias" class="label_geo">Selecciona el area o ubicacion en la que ofrece tus servicios:</label>
                <select id="geo_servicios" name="geo_servicios" class="select_geo"></select>

                <div class="div_btn_form_geo_pg-inicial">
                    <button type="submit" class="btn_form_geo_pg-inicial" id="">Guardar y continuar<i class="fa-solid fa-arrow-right-long"></i></button>
                </div>
            </form>
        </div>
    </div>

    <script src="{% static '../static/config_iniciales/geo_servicios.js' %}"></script>
    
</body>
</html>