{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/vendedor_css/inicial_config_vend_css/bienevenida_vendedor.css' %}">
    <title>Bluubum</title>
</head>
<body>
    <h1>Bluubum</h1>

   <div class="cj_contenido">
    <div class="sub_cj-contenido">
        <p class="contenido">Estamos emocionados de que hayas decidido unirte a nuestra plataforma de afiliados y comenzar a ganar ingresos extra. Bluubum es una plataforma innovadora que ofrece servicios excepcionales en el area del diseño la construccion, mantenimiento y reparacion para hogares, oficina y empresas.</p>

        <p class="contenido">Como promotor de Bluubum, tendrás la oportunidad de promover nuestros servicios y ganar una comisión cada vez que obtengamos un contrato por tu captacion de cliete para nuestros servicios. Además, podrás monitorear tus ganancias y recibir los pagos de tus proyectos.</p>

        <p class="contenido">Estamos comprometidos a brindarte todo el apoyo y las herramientas necesarias para que tengas éxito como promotor de Bluubum. Estamos emocionados de verte crecer y tener éxito con nosotros.</p>  

    </div>
    
</div>

<div class="cj_content_finb">
    <h4 class="contenido_fin">Bienvenido a la familia de Bluubum. ¡Comencemos a ganar juntos!</h4>
</div>
    <div class="cj-btn_bienv">
        <a href="{% url 'foto_vendedor' %}">Continuar</a>

    </div>

    
</body>
</html>