<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/9722caf0d0.js" crossorigin="anonymous"></script>
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static '../static/css/vendedor_css/inicial_config_vend_css/metodo_pago_vend.css' %}">

    <title>Bluubum</title>
</head>
<body>
    <div class="contenedor_form_perfil_pg-inicial">
        <div class="contenedor_titulo_form_perfil_pg-inicial">
            <h2 class="titulo_form_perfil_pg-inicial">Imagen y nombre de tienda</h2>
        </div>
        <div class="formulario_form_perfil_pg-inicial">
            <form action="{% url 'metodo_pago_inic_vend' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}               

                <div class="caja_text_form_perfil_pg-inicial">
                    <label for="opciones">Selecciona una opción de pago:</label>
                    <div>
                        <button type="button" id="btn-transferencia" class="btn-pago" data-value="Transferencia bancaria">Transferencia bancaria</button>
                        <button type="button" id="btn-deposito" class="btn-pago" data-value="Depósito de efectivo">Depósito via agencia</button>
                    </div>
                </div>
                <div class="caja_text_form_perfil_pg-inicial">
                    <label for="metodo_pago">Método de pago:</label>
                    <input type="text" id="metodo_pago" name="metodo_pago" required>
                  </div>
                <div class="caja_text_form_perfil_pg-inicial">
                    <label for="opciones">Documento de identidad:</label>
                    <select name="tipo_documet" id="opciones">
                        <option value="Cedula">Cedula</option>
                        <option value="Pasaporte">Pasaporte</option>
                    </select>                
                </div>
                <div class="caja_text_form_perfil_pg-inicial">
                    <input type="text" id="txtfileTitulo" placeholder="Nombre de documento" 
                    name="nombre_idp" class="titulo_producto_form_perfil_pg-inicial" required>             
                </div>
                <div id="cuenta" style="display: none;">
                    <div class="caja_text_form_perfil_pg-inicial">
                        <input type="text" id="txtfileTitulo" placeholder="Nombre de institucion bancaria" 
                        name="nombre_banco" class="titulo_producto_form_perfil_pg-inicial">             
                    </div>
                    <div class="caja_text_form_perfil_pg-inicial">
                        <input type="text" id="txtfileTitulo" placeholder="Numero de cuenta" 
                        name="numero_cuenta" class="titulo_producto_form_perfil_pg-inicial">             
                    </div>
                </div>
                <div class="div_btn_form_perfil_pg-inicial">
                    <button type="submit" class="btn_form_perfil_pg-inicial" id="">Guardar y continuar<i class="fa-solid fa-arrow-right-long"></i></button>
                </div>
            </form>
        </div>
    </div>


    <script src="{% static '../static/config_iniciales/ciudades_rd.js' %}"></script>
    <script src="{% static '../static/vendedor/mostrar-input.js' %}"></script>
    
    
</body>
</html>