{% extends 'layout/base.html' %}

{% block content %}

{% load static %}


<link rel="stylesheet" type="text/css" href="{% static '../static/css/modall/modal_alert_show.css' %}">

<link rel="stylesheet" type="text/css" href="{% static '../static/css/vendedor_css/configuracion_vend/editc_email_vend.css' %}">

<div class="Conten_title_data_actual_edit">
	<div class="">
    <a href="{% url 'configuracion_vend' %}"><i class="fa-solid fa-person-walking-arrow-right fa-flip-horizontal"></i></a>
  </div>
    
  <h2 class="title_data_actual_edit">Editar direccion de correo electronico</h2>
	
</div>

{% if mesage_alert_exist == True %}
  <div id="caj-alert-show" class="caj-alert-show">
    <div class="alert-danger-show">
      <div class="icono-show">
        <div class="circle_icono"><p>!</p></div>
      </div>
      <div class="caja-masage-show">
        <p class="mesage-show">El correo electrónico ya existe.<br> Intente con uno nuevo</p>
      </div>
      <div class="cja-btn-show">
        <button id="btn-show" class="btn-show btn-left">Aceptar</button>
        <!--<a href="#" class="btn-reidrec btn-right">Aceptar</a>-->
      </div>
    </div>
  </div>
  {% endif %}


{% if mesage_alert %}
<div id="caj-alert-show" class="caj-alert-show">
  <div class="alert-danger-show">
    <div class="icono-show">
      <div class="bien circle_icono"><p class="fa fa-thumbs-up"></p></div>
    </div>
    <div class="caja-masage-show">
      <p class="mesage-show">Se ha enviado un correo de confirmación a la nueva dirección de correo electrónico {{tmpe.email_temp}}</p>
    </div>
    <div class="cja-btn-show">
      <!--<button id="btn-show" class="btn-show btn-left">Aceptar</button>-->
      <a href="{% url 'confir_cambio_email_vend' %}" class="btn-reidrec btn-right">Aceptar</a>
    </div>
  </div>
</div>
{% endif %}
<div class="content_body">
  <div class="cj-email_actual">
    <p>{{user.email}}</p>
    <label for="" class="label_email">Email actual</label>
  </div>

  <div class="container_form_edit_email">
    <form action="{% url 'edit_email_vend' %}" method="post">
    {% csrf_token %}
      <div class="form-group">
        <label for="email">Nuevo correo electrónico</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="email@email.com" required>
      </div>
      <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
  </div>
</div>
  <script src="{% static '../static/css/modall/modal_show.js' %}"></script>


  <script src="{% static '../static/registro_proveedor/btn_regres.js' %}"></script>

{% endblock %}