{% extends 'layout/base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '../static/css/modall/modal_alert_show.css' %}">

<link rel="stylesheet" type="text/css" href="{% static '../static/css/vendedor_css/configuracion_vend/edit_password_vend.css' %}">

<div class="Conten_title_data_actual_edit">
	<div class="">
    <a href="{% url 'configuracion_vend' %}" class=""><i class="fa-solid fa-person-walking-arrow-right fa-flip-horizontal"></i></a>
  </div>
    
  <h2 class="title_data_actual_edit">Editar contraseña</h2>
	
</div>

{% if show_message_error_password_diferent %}
  <div id="caj-alert-show" class="caj-alert-show">
    <div class="alert-danger-show">
      <div class="icono-show">
        <div class="circle_icono"><p>!</p></div>
      </div>
      <div class="caja-masage-show">
        <p class="mesage-show">Las contraseñas no coinciden</p>
      </div>
      <div class="cja-btn-show">
        <button id="btn-show" class="btn-show btn-left">Aceptar</button>
        <!--<a href="#" class="btn-reidrec btn-right">Aceptar</a>-->
      </div>
    </div>
  </div>
{% endif %}


{% if show_message_clave_incumple %}
  <div id="caj-alert-show" class="caj-alert-show">
    <div class="alert-danger-show">
      <div class="icono-show">
        <div class="circle_icono"><p>!</p></div>
      </div>
      <div class="caja-masage-show">
        <p class="mesage-show">El password debe tener al menos 8 caracteres, una mayúscula, una minúscula y un número.</p>
      </div>
      <div class="cja-btn-show">
        <button id="btn-show" class="btn-show btn-left">Aceptar</button>
        <!--<a href="#" class="btn-reidrec btn-right">Aceptar</a>-->
      </div>
    </div>
  </div>
{% endif %}


{% if show_message_clave_actualizada %}
<div id="caj-alert-show" class="caj-alert-show">
  <div class="alert-danger-show">
    <div class="icono-show">
      <div class="bien circle_icono"><p class="fa fa-thumbs-up"></p></div>
    </div>
    <div class="caja-masage-show">
      <p class="mesage-show">La contraseña ha sido actualizada</p>
    </div>
    <div class="cja-btn-show">
      <!--<button id="btn-show" class="btn-show btn-left">Aceptar</button>-->
      <a href="{% url 'edit_password_vend' %}" class="btn-reidrec btn-right">Aceptar</a>
    </div>
  </div>
</div>
{% endif %}

<div class="content_edit_password">

  <div class="cj_form_edit_password">
    <form action="{% url 'edit_password_vend' %}" method="post" class="form_edit_password">
      {% csrf_token %}
      <div class="form-group">
        <label for="password" class="label_edit_password">Crear nueva contraseña</label>
        <div class="cj_input_edit_password">
          <input type="password" name="password" id="password" required class="input_edit_password" placeholder="Password">
          <button type="button" id="show-password-btn" class="btn_eyes_pass_edit_password"><i class="fa fa-eye"></i></button>
        </div>
        <div class="cj_input_edit_password">
          <input type="password" name="password2" id="password2" required class="input_edit_password" placeholder="Repetir Password">
          <button type="button" id="show-password-btn2" class="btn_eyes_pass_edit_password" ><i class="fa fa-eye"></i></button>
        </div>
      </div>
      <div class="cj_btn_pass_edit_password">
        <button type="submit" class="btn_pass_edit_password">Guardar</button>
      </div>
    </form>
  </div>
</div>

<script src="{% static '../static/css/modall/modal_show.js' %}"></script>
<script src="{% static '../static/configuracion_prov/vista_password.js' %}"></script>


<script src="{% static '../static/registro_proveedor/btn_regres.js' %}"></script>



{% endblock %}