{% extends 'layout/base.html' %}

{% load humanize %}

{% block content %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static '../static/css/proveedor/sin_archivo.css' %}">

<link rel="stylesheet" type="text/css" href="{% static '../static/css/proveedor/dahsboar_css/sub_dahsboard/comsion_pendiente_plataform.css' %}">

<section class="content_head_pedidos">
    <div class="cj_btn_regresar">
        <a href="{% url 'dashboard_prov' %}" class="btn_regres"><i class="fa-solid fa-arrow-left-long"></i></a>
    </div>

    <div class="contain_title_head_pedidos">
        <h2>Historial de comisiones</h2>
        <p class="sub_title_head">Historial de comisiones pagadas a la plataforma de la plataforma</p>
    </div>

</section>
{% for comision_plat in comision_plat %}
    {% if comision_plat.estado_comis_plataform == 'Saldado' and comision_plat.estado != 'Suspendido' or comision_plat.estado != 'Cancelado' %}
    {% endif %}
{% endfor %}
<div class="content_dashboar_pedidos">
    <div class="sub_dashboar_pedidos">
        <div class="dashboar_pedidos">
            <table>
                <tr>
                  <th>ID</th>
                  <th>Nombre del proyecto</th>
                  <th>Servicio</th>
                  <th>Codigo proyecto</th>
                  <th>Provincia</th>
                  <th>Presupuesto</th>
                  <th>% comision</th>
                  <th>Comision</th>
                  <th>user vendedor</th>
                  <th>Fecha de pago</th>
                  <th>Hora deposito</th>
                  <th>Ver</th>
                </tr>
                
                {% for proyect in comision_plat %}

                    
                    <tr>
                    
                        {% with counter=forloop.counter0|add:1 %}
                          <tr id="fila_{{ counter }}">
                            
                        {% if proyect.nombre_proyecto != Null and proyect.estado != 'Cancelado' and proyect.estado != 'Suspendido' %}
                        <td>{{ counter }}</td>
                        <td class="nombre_proyecto_td">{{proyect.nombre_proyecto}}</td>
                        <td>{{proyect.servicio.nombre_servicio}}</td>
                        <td>{{proyect.codigo_unico_proyect}}</td>
                        <td>{{proyect.provincia_proyec}}</td>
                        <td>$ {{proyect.precio|floatformat:2|intcomma}}</td>
                        <td>{{proyect.servicio.Comicion}} %</td>
                        <td>
                            ${{proyect.comision_plataform|floatformat:2|intcomma}}
                        </td>
                        <td>
                            {{proyect.vendedor.user.username}}
                        </td>
                        <td>{{proyect.fecha_pago_comision|date:"Y/m/d"}}</td>
                        <td>{{ proyect.fecha_pago_comision|time:"H:i:s" }}</td>
                        <td>
                            <a href="{% url 'proyecto_detail_prov' codigo_unico=proyect.codigo_unico_proyect %}" class="btn_delete">
                                <i class="fa-regular fa-eye"></i>
                            </a>
                        </td>

                        {% endif %}
                  
                    {% endwith %}   
                    
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% for comision_plat in comision_plat %}
    {% if comision_plat.estado_comis_plataform != 'Saldado' and comision_plat.estado == 'Suspendido' or comision_plat.estado == 'Cancelado' %}

<section class="content_sin-archivo">
    <div class="sub_content_sin-archivo">
        <div class="cj_image_sin-archivo">
            <i class="fa-regular fa-rectangle-list"></i>
        </div>
        <p class="mesage_sin-archivo">Actualmente no tienes comisiones pendietes</p>
    </div>
</section>
{% endif %}
{% endfor %}



{% endblock %}