{% extends 'layout/base.html' %}

{% block content %}

{% load static %}


<link rel="stylesheet" type="text/css" href="{% static '../static/css/modall/modal_alert_show.css' %}">

<link rel="stylesheet" type="text/css" href="{% static '../static/css/vendedor_css/dashboard_vend_css/perfil_vend/crear_proyect.css' %}">



{% if show_message_alert %}
<div id="caj-alert-show" class="caj-alert-show">
  <div class="alert-danger-show">
    <div class="icono-show">
      <div class="bien circle_icono"><p class="fa fa-thumbs-up"></p></div>
    </div>
    <div class="caja-masage-show">
      <p class="mesage-show">Tu proyecto ha sido creado exitosamente.<br>
        Tu proyecto esta en espera de aprobacion.
      </p>
    </div>
    <div class="cja-btn-show">
      <!--<button id="btn-show" class="btn-show btn-left">Aceptar</button>-->
      <a href="{% url 'proyecto_pendiente_solic' %}" class="btn-reidrec btn-right">Aceptar</a>
    </div>
  </div>
</div>
{% endif %}


<div class="Conten_title_data_actual_edit">
	<div class="">
        <a href="" class="btn_regresar"><i class="fa-solid fa-arrow-left-long"></i></a>
    </div>
    
    <h2 class="title_data_actual_edit">Crear nuevo proyecto</h2>
	<p></p>
</div>



<div class="content_body">

<div class="content_crear_proyec">
  <div class="content_title_crear_proye">
    
    <p class="text_sub_titulo">Crea un nuevo proyecto y espera por su aprobacion. 
      Resiviras la notificacion en el dashboard y a travez de tu whatsapp</p>
  </div>

  <form method="post" enctype="multipart/form-data" class"form_crear_proye">
    {% csrf_token %}
    <div class"content_input_crear_proye">
      <label for="nombre_proyecto" class="label_input_crear_proye">Crea un nombre para tu proyecto:</label>
      <input type="text" id="nombre_proyecto" name="nombre_proyecto" class="input_crear_proye" placeholder="Proyecto one" required>
    </div>
    <div class"content_select_crear_proye">
      <label for="tipo_servicio" class="label_select_crear_proye">Tipo de servicio:</label>
      <select id="tipo_servicio" name="tipo_servicio" class="select_crear_proye" required>
        <option value="" class="select_option_crear_proye">Seleccione servicio</option>
        {% for servicio in servicios %}
          <option value="{{ servicio.id }}" class="select_option_crear_proye">{{ servicio.nombre_servicio }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="content_input_crear_proye">
      <label for="descripcion_proyecto" class="label_textarea_crear_proye">Descripción del proyecto:</label><br>
      <textarea id="descripcion_proyecto" name="descripcion_proyecto" class="textarea_crear_proye" placeholder="Descripcion de tu proyecto maximo 1000 caracteres" maxlength="1000" required></textarea>
    </div>
    <div class"content_select_crear_proye">
      <label for="provincia" class="label_select_crear_proye">Provincia del proyecto</label>
      <select id="provincias" name="provincias" class="select_crear_proye" required></select>
    </div>
    <div class"content_input_crear_proye">
      <label for="ciudad" class="label_input_crear_proye">Ciudad o municipio:</label>
      <input type="text" id="ciudad" name="ciudad" class="input_crear_proye" placeholder="ciudad de proyecto" required>
    </div>
    <div class"content_input_crear_proye">
      <label for="sector" class="label_input_crear_proye">Sector:</label>
      <input type="text" id="sector" name="sector" class="input_crear_proye" placeholder="Sector del proyecto" required>
    </div>
    <div class"content_input_crear_proye">
      <label for="calle" class="label_input_crear_proye">Calle:</label>
      <input type="text" id="calle" name="calle" class="input_crear_proye" placeholder="Calle del proyecto" required>
    </div>
    <div class"content_input_crear_proye">
      <label for="numero" class="label_input_crear_proye">Número:</label>
      <input type="text" id="numero" name="numero" class="input_crear_proye" placeholder="000" required>
    </div>
    <div class"content_input_crear_proye">
      <label for="apartamento_suite" class="label_input_crear_proye">Apartamento/Suite:</label>
      <input type="text" id="apartamento_suite" class="input_crear_proye" name="apartamento_suite" placeholder="000 opcional">
    </div>
    <div class"content_input_crear_proye">
      <label for="nombre_client" class="label_input_crear_proye">Nombre del cliente:</label>
      <input type="text" id="nombre_cliente" name="nombre_client" class="input_crear_proye" placeholder="Nombre cliente" required>
    </div>
    <div class"content_input_crear_proye">
      <label for="num_what_client" class="label_input_crear_proye">Whatsapp cliente:</label>
      <input type="text" id="num_what_client" name="num_what_client" class="input_crear_proye" placeholder="000 000 0000" required>
    </div>
    <div class"content_btn_crear_proye">
      <button type="submit" class="btn_crear_proye">Crear proyecto</button>
    </div>
  </form>
</div>

  <script src="{% static '../static/css/modall/modal_show.js' %}"></script>

  <script src="{% static '../static/config_iniciales/ciudades_rd.js' %}"></script>

  <script src="{% static '../static/vendedor/botn_regres.js' %}"></script>

{% endblock %}
