{% extends 'layout/base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '../static/css/modall/dlete_modal.css' %}">

<link rel="stylesheet" type="text/css" href="{% static '../static/css/proveedor/dahsboar_css/creapost_serv.css' %}">

<div class="cj-btn_redirec_dashbo_crea_post">
    <a href="{% url 'dashboard_prov' %}" class="btn_redirec_dahsbo_crea_post">Dashboard</a>
</div>

<div class="contenedor_crea_post">
    <div class="contenedor_titulo_crea_post">
        <h2 class="titulo_crea_post">Crear nuevo post</h2>
    </div>
    
    <div class="cj-formulario_crea_post">
        <form action="{% url 'creador_post_serv' %}" method="post" enctype="multipart/form-data" class="form_crea_post">
        {% csrf_token %}
            <label for="label_crea_titulo_crea_post">Título:</label>
            <input type="text" name="titulo" id="titulo" required class="input_crea_post">

            <label for="label_servicio_crea_post">Servicio:</label>
            <select name="servicio_id" id="servicio_id" required class="select_crea_post">
            {% for servicio in servicios %}
                <option value="{{ servicio.id }}">{{ servicio.nombre_servicio }}</option>
            {% endfor %}
            </select>

            <div class="cj_input_img_crea_post" id="src-file1">
                <input type="file" class="subirImg_crea_post" multiple id="file" name="imagen_serv" required>
                <label for="file" id="selector" class="label_btn_cp">Subir imagen 1</label>
            </div>
            <div class="cj_input_img_crea_post" id="src-file2">
                <input type="file" class="subirImg_crea_post" multiple id="file2" name="imagen_serv_dos" >
                <label for="file2" id="selector2" class="label_btn_cp">Subir imagen 2</label>
            </div>
            <div class="cj_input_img_crea_post" id="src-file3">
                <input type="file" class="subirImg_crea_post" multiple id="file3" name="imagen_serv_tres" >
                <label for="file3" id="selector3" class="label_btn_cp">Subir imagen 3</label>
            </div>
            <div class="cj_input_img_crea_post" id="src-file4">
                <input type="file" class="subirImg_crea_post" multiple name="imagen_serv_cuatro" aria-label="Archivo" id="file4">
                <label for="file4" id="selector4" class="label_btn_cp">Subir imagen 4</label>
            </div>
            
            <label for="archivo_contenido" class="label_crea_post">Contenido:</label>
            <textarea name="contenido" id="archivo_contenido" required cols="50" rows="10" class="texarea_crea_post"></textarea>
            

            <div class="div_btn_crea_post">
                <button type="submit" class="btn_cp_crea_post" id="">Guardar</button>
            </div>
        </form>
    </div>
</div>


<section class="caja_lp">
    <div class="cj_titulo_lp">
        <h3 class="titulo_lp">Lista post</h3>
    </div>
    <div class="caja_tabal_lp">
        <table>
            <tr>
              <th>Imagen1</th>
              <th>Imagen2</th>
              <th>Imagen3</th>
              <th>Imagen4</th>
              <th>Titulo</th>
              <th>Servicio</th>
              <!--<th>Ver Post</th>-->
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
            {% for list_post in post_list %}
                <tr>
                {% if list_post.imagen_serv.url != NULL %}
                    <td><img src="{{ list_post.imagen_serv.url }}" alt="" class="imagen_lp"></td>
                {% else %}
                    <td><img src="static/image_utileria/img-simbol.jpg" alt="" class="imagen_lp"></td>
                {% endif %}
                {% if list_post.imagen_serv_dos.url != NULL %}
                    <td><img src="{{ list_post.imagen_serv_dos.url }}" alt="" class="imagen_lp"></td>
                {% else %}
                    <td><img src="static/image_utileria/img-simbol.jpg" alt="" class="imagen_lp"></td>
                {% endif %}
                {% if list_post.imagen_serv_tres.url != NULL %}
                    <td><img src="{{ list_post.imagen_serv_tres.url }}" alt="" class="imagen_lp"></td>
                {% else %}
                    <td><img src="static/image_utileria/img-simbol.jpg" alt="" class="imagen_lp"></td>
                {% endif %}
                {% if list_post.imagen_serv_cuatro.url != NULL %}
                    <td><img src="{{ list_post.imagen_serv_cuatro.url }}" alt="" class="imagen_lp"></td>
                {% else %}
                    <td><img src="media/image_utileria/img-simbol.jpg" alt="" class="imagen_lp"></td>
                {% endif %}
                    <td>{{ list_post.titulo }}</td>
                    <td>{{ list_post.servicio.nombre_archivo }}</td>
                   <!--
                    <td>
                        <a href="/post_vista/{{post.slug}}">
                            <i class="fa-regular fa-eye"></i>
                        </a>
                    </td>
                    -->
                    <td>
                        <a href="/post_editor/{{list_post.id}}">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                    </td>
                    
                    <td>
                        <a href="#" class="modal-btn"  
                        data-post-delete="{% url 'eliminar_post_proveedor' list_post.id %}">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
   
                </tr>
                
            {% endfor %}
        </table>
    </div>

</section>



<div id="modal_eliminar" class="modal_eliminar">
    <div class="modal-content_eliminar">
       <div class="modal_imagen">
        <i class="fa-solid fa-trash-can"></i>
        <p>Esta seguro de que decea eliminar este post</p>
       </div>
  
      <div class="botones_selecion_eliminar">
        <button id="modal-close" onclick="closeModal()">Close</button>
        
        <div class="boton_redireccion-detalles">
            <a href="" id="modal-BTNeliminarPost">Eliminar</a>
        </div>
    </div>
        
</div>
  

<script src="{% static '../static/modall/delete_post.js' %}"></script>

{% endblock %}