{% extends 'layout/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '../static/css/proveedor/login_registro/codigo_confirmacion_email.css' %}">

{% if show_message_elert_confimail %}
    <div id="caj-alert-show" class="caj-alert-show">
      <div class="alert-danger-show">
        <div class="icono-show">
          <div class="circle_icono"><p>!</p></div>
        </div>
        <div class="caja-masage-show">
          <p class="mesage-show">El código de confirmación ha caducado.<br> Solicita un nuevo codigo</p>
        </div>
        <div class="cja-btn-show">
          <button id="btn-show" class="btn-show btn-left">Aceptar</button>
          <!--<a href="#" class="btn-reidrec btn-right">Aceptar</a>-->
        </div>
      </div>
    </div>
  {% endif %}

  {% if show_message_alert_codigo %}
    <div id="caj-alert-show" class="caj-alert-show">
      <div class="alert-danger-show">
        <div class="icono-show">
          <div class="circle_icono"><p>!</p></div>
        </div>
        <div class="caja-masage-show">
          <p class="mesage-show">'El código de confirmación es inválido.</p>
        </div>
        <div class="cja-btn-show">
          <button id="btn-show" class="btn-show btn-left">Aceptar</button>
          <!--<a href="#" class="btn-reidrec btn-right">Aceptar</a>-->
        </div>
      </div>
    </div>
  {% endif %}
  <div class="container_confirma_codi_prov">
    <h1 class="titulo_confirma_codi_prov">Confirmar email</h1>

    <form method="post" class="from_confirma_codi_prov">
      {% csrf_token %}
      <div class="div_form_confirma_codi_prov">
        <label for="label_codigo_confirma_codi_prov">Introduce el codigo que se a enviado a tu correo electronico</label>
        <input type="text" class="form-control_confirma_codi_prov" id="codigo" name="codigo" placeholder="Codigo" required>
      </div>
      <button type="submit" class="btn btn-primary_confirma_codi_prov">Confirmar</button>
    </form>

    <a href="{% url 'nuevo_codigo' %}" class="etiqueta_a_confirm">
      <button type="submit" class="btn btn-link_confirma_codi_prov">Reenviar código de confirmación</button>
    </a>
  </div>

<script src="{% static '../static/css/modall/modal_show.js' %}"></script>
{% endblock %}
