{% extends 'layout/base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '../static/css/modall/modal_alert_show.css' %}">

<link rel="stylesheet" type="text/css" href="{% static '../static/css/proveedor/login_registro/recoveri_password.css' %}">



{% if show_message_error %}
  <div id="caj-alert-show" class="caj-alert-show">
    <div class="alert-danger-show">
      <div class="icono-show">
        <div class="circle_icono"><p>!</p></div>
      </div>
      <div class="caja-masage-show">
        <p class="mesage-show">Ha ocurrido un error. <br>No se encontró una cuenta con ese correo electrónico.</p>
      </div>
      <div class="cja-btn-show">
        <button id="btn-show" class="btn-show btn-left">Aceptar</button>
        <!--<a href="#" class="btn-reidrec btn-right">Aceptar</a>-->
      </div>
    </div>
  </div>
{% endif %}


{% if show_message_elert %}
<div id="caj-alert-show" class="caj-alert-show">
  <div class="alert-danger-show">
    <div class="icono-show">
      <div class="bien circle_icono"><p class="fa fa-thumbs-up"></p></div>
    </div>
    <div class="caja-masage-show">
      <p class="mesage-show">Se ha enviado una nueva contraseña a su correo electrónico</p>
    </div>
    <div class="cja-btn-show">
      <!--<button id="btn-show" class="btn-show btn-left">Aceptar</button>-->
      <a href="{% url 'login_proveedor' %}" class="btn-reidrec btn-right">Aceptar</a>
    </div>
  </div>
</div>
{% endif %}

<body class="body_rec_prov">
	<div class="container_rec_prov">
	    <h1 class="h1_rec_prov">Recuperar contraseña</h1>
	    <div class="div_rec_prov">
		    <h2 class="h2_rec_prov">Al ingresar su correo electronico se le enviara <br>una nueva contraseña de recuperacion</h2>
	    </div>

	    <form method="POST" action="{% url 'recover_password' %}" class=" form_rec_prov">
		{% csrf_token %}
		    <label for="email" class="label_rec_prov">Correo electrónico:</label>
		    <input type="email" name="email" required placeholder="email@email.com" class="input_rec_prov">
		    <button type="submit" class="button_rec_prov">Enviar</button>
	    </form>
	</div>
</body>

<script src="{% static '../static/css/modall/modal_show.js' %}"></script>

{% endblock %}
    
