{% extends 'layout/base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '../static/css/proveedor/login_registro/register.css' %}">


    <div class="contenedor-registro">
        <div class="sub_contenedor-registro">
            <div class="cj-titulo_reg">
                <h1 class="titulo_registro">Registrate</h1>
            </div>           
            <form id="registro-form" action="{% url 'registro_proveedor' %}" method="post">
                {% csrf_token %}
                <div class="nombre">
                    <input type="text" placeholder="Nombre" id="nombre" class="control_form invalid" name="nombre" value="{{ nombre }}" >
                    
                </div><br>
                <div class="apellido">
                    <input type="text" placeholder="Apellido" id="apellido" class="control_form invalid" name="apellido" value="{{ apellido }}" required>
                    
                </div><br>
                <div class="nombre_tienda">
                    <input type="text" placeholder="Usuario" id="usuario" class="control_form invalid posible-usuario" name="usuario" value="{{ usuario }}" required>

                    {% if error_usuario %}
                       <span>{{ error_usuario }}</span>
                    {% endif %}
                    
                     
                </div><br>
                <div class="email">
                    <input type="email" placeholder="E-mail" id="email" class="control_form invalid" name="email" value="{{ email }}" required>
                    {% if error_email %}
                       <span>{{ error_email }}</span>
                    {% endif %}
                    
                </div><br>

                <div class="password">
                    <input type="password" placeholder="Password" id="password" class="control_form invalid" name="password" required>
                    <button type="button" id="show-password-btn" class="btn-eyes"><i class="fa fa-eye"></i></button>
                    
                </div><br>
                <div class="password2">
                    <input type="password" placeholder="Repetir Password" id="password2" class="control_form invalid" name="password2" required>
                    <button type="button" id="show-password-btn2" class="btn-eyes"><i class="fa fa-eye"></i></button>
                    {% if error_password %}
                       <span>{{ error_password }}</span>
                    {% endif %}

                    
                </div><br>
                <div class="cj-fecha_nacimiento">
                    <div class="cj-tex-nacimineto">
                        <p class="text-nacimiento">Fecha de nacimiento</p>
                    </div>
                    <div class="sub_cj_fecha_nacimiento">
                        
                        <select id="year" name="year" class="year_select"></select>
                        
    
                        <select id="month" name="month" class="mes_select">
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                        
                        <select id="day" name="day" class="day_select"></select>
                         
                        {% if error_edad %}
                           <span>{{ error_edad }}</span>
                        {% endif %}

                    </div>
                </div>
                <br>
                
                <div class="">
                    <button type="submit" id="registro-button" class="btn_registro">
                        Registrar
                    </button><br><br>
        
                    <li> <a href="{% url 'login_proveedor' %}">Ya tengo una cuenta</a> </li>
                </div>

            </form>

        </div>

    </div>

    <script>
		// Función para guardar los valores de los inputs en localStorage
		function guardarDatos() {
			localStorage.setItem('nombre', document.getElementById('nombre').value);
			localStorage.setItem('apellido', document.getElementById('apellido').value);
            localStorage.setItem('usuario', document.getElementById('usuario').value);
			localStorage.setItem('email', document.getElementById('email').value);
			
		}

		// Función para restaurar los valores de los inputs desde localStorage
		function restaurarDatos() {
			document.getElementById('nombre').value = localStorage.getItem('nombre');
			document.getElementById('apellido').value = localStorage.getItem('apellido');
            document.getElementById('usuario').value = localStorage.getItem('usuario');
			document.getElementById('email').value = localStorage.getItem('email');
			
		}

		// Evento onchange para guardar los datos en localStorage cuando se modifican los inputs
		document.getElementById('nombre').onchange = guardarDatos;
		document.getElementById('apellido').onchange = guardarDatos;
        document.getElementById('usuario').onchange = guardarDatos;
		document.getElementById('email').onchange = guardarDatos;
		

		// Evento onload para restaurar los datos desde localStorage cuando se carga la página
		window.onload = restaurarDatos;
	</script>
    

    <script src="{% static '../static/registro_proveedor/yearselec.js' %}"></script>
    <script src="{% static '../static/registro_proveedor/dianacimento.js' %}"></script>
    <script src="{% static '../static/registro_proveedor/inputs_registro_proveedor.js' %}"></script>
    <script src="{% static '../static/registro_proveedor/ver_password.js' %}"></script>

{% endblock %}